
<div *ngIf="bankAccount">
    <h2><span jhiTranslate="myBankAnalyticsApp.bankAccount.detail.title">Bank Account</span> {{bankAccount.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="myBankAnalyticsApp.bankAccount.name">Name</span></dt>
        <dd>
            <span>{{bankAccount.name}}</span>
        </dd>
        <dt><span jhiTranslate="myBankAnalyticsApp.bankAccount.accountBalance">Account Balance</span></dt>
        <dd>
            <span>{{bankAccount.accountBalance}}</span>
        </dd>
        <dt><span jhiTranslate="myBankAnalyticsApp.bankAccount.owner">Owner</span></dt>
        <dd>
            <div *ngIf="bankAccount.ownerId">
                <a [routerLink]="['/extended-user-my-bank-analytics', bankAccount.ownerId]">{{bankAccount.ownerId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bank-account-my-bank-analytics/'+ bankAccount.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
