<div>
    <h2>
        <span jhiTranslate="myBankAnalyticsApp.bankAccount.home.title">Bank Accounts</span>
        <button class="btn btn-primary float-right jh-create-entity create-bank-account-my-bank-analytics" [routerLink]="['/', { outlets: { popup: ['bank-account-my-bank-analytics-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="myBankAnalyticsApp.bankAccount.home.createLabel">
            Create new Bank Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bankAccounts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="myBankAnalyticsApp.bankAccount.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="accountBalance"><span jhiTranslate="myBankAnalyticsApp.bankAccount.accountBalance">Account Balance</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ownerId"><span jhiTranslate="myBankAnalyticsApp.bankAccount.owner">Owner</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let bankAccount of bankAccounts ;trackBy: trackId">
                <td><a [routerLink]="['../bank-account-my-bank-analytics', bankAccount.id ]">{{bankAccount.id}}</a></td>
                <td>{{bankAccount.name}}</td>
                <td>{{bankAccount.accountBalance}}</td>
                <td>
                    <div *ngIf="bankAccount.ownerId">
                        <a [routerLink]="['../extended-user-my-bank-analytics', bankAccount.ownerId  ]" >{{bankAccount.ownerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bank-account-my-bank-analytics', bankAccount.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bank-account-my-bank-analytics/'+ bankAccount.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bank-account-my-bank-analytics/'+ bankAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bank-account-my-bank-analytics/'+ bankAccount.id + '/import'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.import">Import</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
