<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myExtendedUserLabel" jhiTranslate="myBankAnalyticsApp.extendedUser.home.createOrEditLabel">Create or edit a Extended User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!extendedUser.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="extendedUser.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="myBankAnalyticsApp.extendedUser.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="extendedUser.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="myBankAnalyticsApp.extendedUser.firstname" for="field_firstname">Firstname</label>
            <input type="text" class="form-control" name="firstname" id="field_firstname"
                [(ngModel)]="extendedUser.firstname" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="myBankAnalyticsApp.extendedUser.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="extendedUser.address" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="myBankAnalyticsApp.extendedUser.mail" for="field_mail">Mail</label>
            <input type="text" class="form-control" name="mail" id="field_mail"
                [(ngModel)]="extendedUser.mail" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
