<div class="all_bankAccount">



    <div class="account">

            <div class="piechart debitchart" [chart]="chartDebit"></div>       
            <div class="piechart creditchart" [chart]="chartCredit"></div>
          
        </div>
       
    </div>

    <div class="regular_fee">
        <div class="table-responsive" *ngIf="regularFees">
        <table class="table table-striped">

            <thead>
                <tr>
                    
                    <th ><span jhiTranslate="global.field.id">ID</span></th>
                    <th ><span jhiTranslate="global.field.amount">Amount</span></th>
                    <th ><span jhiTranslate="global.field.date">Date</span></th>
                    <th ><span jhiTranslate="global.field.label">Label</span></th>
                    <th ><span jhiTranslate="global.field.categories">Categories</span></th>
                </tr>

            </thead>

            <tr *ngFor="let operation of regularFees ;trackBy: trackId">
                <td>
                    {{operation.id}}
                </td>
                <td>
                    {{operation.amount}}
                </td>
                <td>
                    {{operation.date | date : 'dd/MM/yyyy'}}
                </td>
                <td>
                    {{operation.label}}
                </td>
                <td>
                   <p *ngFor="let category of operation.categories">
                        {{category.label}}
                   </p>
                </td>
            </tr>
        </table>
    </div>

</div>

