<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="AutoAffectParameterLabel" jhiTranslate="autoAffectParam.home.createOrEditLabel">Create or edit a Bank Account</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!param.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="param.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="autoAffectParam.param.regex" for="field_name">Regex</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="param.regex" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="autoAffectParam.param.category" for="field_owner">Category</label>
            <select class="form-control" id="field_owner" name="target" [(ngModel)]="param.target.id" >
                <option [ngValue]="null"></option>
                <option [ngValue]="category.id" *ngFor="let category of categories; trackBy: trackId">{{category.label}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>